bentoml
fastparquet==0.8.3
feast[redis]==0.34.1
mlflow==2.7.1
pandas==1.5.3
pyspark==3.5.0
scikit-learn==1.1.2

absl-py
aiohttp
aiosignal
alembic
anyio
appdirs
asgiref
async-timeout
attrs
bowler
build
cachetools
cattrs
certifi
charset-normalizer
circus
click
cloudpickle
colorama
commonmark
contextlib2
cramjam
dask
databricks-cli
deepmerge
Deprecated
dill
docker
entrypoints
exceptiongroup
fastapi
fastavro
fissix
Flask
frozenlist
fs
fsspec
gitdb
GitPython
google-api-core
google-auth
googleapis-common-protos
greenlet
grpcio
grpcio-reflection
gunicorn
h11
hiredis
httptools
idna
importlib-metadata
itsdangerous
Jinja2
joblib
jsonschema
locket
Mako
MarkupSafe
mmh3
moreorless
multidict
mypy
mypy-extensions
numpy==1.24.4
oauthlib
opentelemetry-api
opentelemetry-instrumentation
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-asgi
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
packaging
pandavro
partd
pathspec
pep517
pip
pip-tools
prometheus-client
prometheus-flask-exporter
proto-plus
protobuf
psutil
py4j
pyarrow
pyasn1
pyasn1-modules
pydantic
Pygments
PyJWT
pynvml
pyparsing
pyrsistent
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
querystring-parser
redis
requests
rich
rsa
schema
scipy
setuptools
simple-di
six
smmap
sniffio
SQLAlchemy
sqlalchemy2-stubs
sqlparse
starlette
tabulate
tenacity
tensorflow-metadata
threadpoolctl
toml
tomli
toolz
tornado
tqdm
typeguard
typing_extensions
urllib3
uvicorn
uvloop
volatile
watchfiles
websocket-client
websockets
Werkzeug
wheel
wrapt
yarl
zipp
